* {
    box-sizing: border-box;
}
  
*:before, *:after {
    box-sizing: inherit;
}
.navbar__item a{
    text-decoration: none;
    color: black;
    display: inline-block;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-size: 100%;
    margin: 0;
    background-color: #dbe8f0;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(67, 128, 164);
    height: 5em;
    padding: 1em 1.5em 1em 1.5em;
    width: 100%;
    top:0;
    z-index: 2;
}

.logo {
    font-size: 2.5em;
    color:rgb(253, 147, 139);
}

.logo:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.navbar__items {
    display: flex;
    align-items: center;
}

#hamburger__menu {
    display: none;
}

.navbar__item{
    margin-left: 1.5em;
    display: inline-block;
    font-size: 1.5em;
}

.navbar__item:hover a{
    transform: scale(1.15);
    color:rgb(253, 147, 139);
    transition-duration: 0.4s;
}

#navbar_selected a{
    color:rgb(253, 147, 139);
}
.logout {
    font-size: 1.1em;
}
 
.navbar__item__divider {
    margin-left: 1.5em;
    display: inline-block;
    width: 0.05em;
    height: 1.8em;
    background-color: black;
}

.main {
    margin-top: 5em;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100%;
}

.filter {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: rgb(253, 147, 139);
    padding: 1em 1em 1em 1em;
    height: 100%;
    min-width: 15em;
    box-shadow: 1px 0 1px 0px rgba(0,0,0,0.75);
    z-index: 1;
}

.filter__title {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}

.filter__arrow {
    visibility: hidden;
}

.filter__items {
    display: flex;
    max-width: 120px;
    /* overflow-y: scroll; */
    flex-direction: column;
    margin: 0;
    max-width: 13em;
    padding: 0;
    list-style: none;
    width: 100%;
}

.filter__item {
    display: flex;
    flex-direction: column;
    max-width: 15em;
    margin-top: 1em;
    font-size: 1em;
}

.filter-select{
    text-overflow: ellipsis;
}

.select-items{ 
    text-overflow: ellipsis;
    max-width: 15em;
}
.filter__items  input {
    min-width: 100%;
}
input, .filter-select {
    font-size: 0.7em;
    padding: 5px;
    margin: 8px 0;
    cursor: pointer;
    border: 1px solid rgb(254, 185, 180);
    border-radius: 4px;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

input[type="submit"] {
    width: 0.5em;
    margin-top: 0.5em;
    /* margin-bottom: auto; */
    background-color: rgb(67, 128, 164);
    color: rgb(254, 185, 180);
    font-size: 1em;
}

input[type="submit"]:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.filter__item label {
    display: block
}

.coins {
    margin-top: 2em;
    margin-left: 17em;
}

.coin__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    list-style: none;
    margin: 0; 
    padding: 0;
}

.coin {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em 1em 1em 1em;
    margin-bottom: 2em;
    min-width: 48%;
    /* max-width: 45%; */
    border: thick double rgb(67, 128, 164);
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 2em;
    background-color: white;
}

.coin:hover {
    transform: scale(1.03);
    transition-duration: 0.2s;
}

.coin__images img {
    width: 5em;
    height: 5em;
}

.coin__images {
    margin-right: 10px;
}

.coin__info span {
    display: block;
}

button.coin__button {
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    text-align: center;
    background-color: rgb(67, 128, 164);
    padding: 0.1em 1em 0.1em 1em;
    margin-left: 1em;
    box-shadow: 0.2em 0.2em 1em rgba(0,0,0,0.3);
    color: rgb(254, 185, 180);
}

button.coin__button:hover {
    transition-duration: 0.2s;
    transform: scale(1.05);
  }


/* Add coin modal */
.modal-add-coin{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    top: 0;
    justify-content: center;
    z-index: 100;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    overflow-y: hidden;

}
.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    background-color: white;
}

#title-modal{
    color: rgb(67, 128, 164);
    padding-left: 5%;
    font-weight: 600;
}
#search{
    border: 0px;
    max-height: 10%;
    min-width: 80%;
}
#search::placeholder{
    color: rgb(254, 185, 180);
}
.modal-criteria form{
    width: 100%;
    height: 100%;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.modal-content #submit-button{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    min-width: 60%;
}

.modal-input{
    margin: auto;
    width: 40%;
}

.modal-input label {
    display: block;
}

.modal-input input {
    width: 100%;
}

.modal-input .file {
    padding: 0;
    border: 0;
    box-shadow: none;
}

.close{
    position: absolute;
    font-size: 35px;
    cursor: pointer;
    top: 0;
    padding-top: 5px;
    right: 15px;
    transform: rotate(45deg);
    font-weight: bold;
}

/* Statistics */

.statistics{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 16em;
}
.statistics table{
    margin-top: 2em;
    width: 100%;
}
.statistics-button{
    width: 25%;
    background-color: rgb(67, 128, 164);
    color: rgb(254, 185, 180);
    font-size: 1em; 
}

td,tr{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

@media screen and (max-width: 750px){
    .navbar__item__divider {
        display: none;
    }
    .navbar__item:not(.change) {
        display: none;
    }

    #hamburger__menu {
        display: inline-block;
    }
    
    .hamburger__bar1, .hamburger__bar2, .hamburger__bar3 {
        width: 2.5em;
        height: 0.3em;
        background-color: rgb(253, 147, 139);
        margin: 0.5em 0;
        transition: 0.3s ease;
    }
    
    .change .hamburger__bar1 {
        transform: translateY(0.5em) rotate(-45deg);
    }
    .change .hamburger__bar3 {
        transform: translateY(-1.1em) rotate(45deg);
    }
    .change .hamburger__bar2 {
        opacity: 0;
    }

    .navbar__items.change {
        margin-left: 0;
        margin-top: 9em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: rgb(67, 128, 164);
        padding: 0 0.5em 0.5em 0.5em;
    }

    .navbar__item.change {
        margin-left: 0;
        font-size: 1.5em;
        align-self: center;
    }

    .logout.change {
        font-size: 1.3em;
    }

    .filter {
        visibility: hidden;
    }

    .filter.show {
        visibility: visible;
    }

    .filter__arrow.hide {
        position: relative;
        visibility: visible;
        transform: rotate(0deg);
    }

    .filter__arrow {
        transform: rotate(180deg);
        visibility: visible;
        position: absolute;
    }
    .filter__arrow:hover{
        color: rgb(67, 128, 164);
    }
    .coins {
        margin-left: 2.5em;
    }
    .coin {
        text-align: center;
        min-width: 20%;
    }
}

@media screen and (max-width:530px) {
    .coin {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}